ConnectionString=Host=localhost;Database=AuthCoreDB;Username=postgres;Password=postgres
JWT_ValidIssuer=http://localhost:5000
JWT_ValidAudience=http://localhost:4200
JWT_SecretKey=REPLACE_WITH_A_LONG_RANDOM_SECRET_MIN_32_CHARS!@#$%