## .NET Core
bin/
obj/
out/
publish/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
.vscode/
*.slnx
*.sln

## User-specific files
appsettings.*.json
!appsettings.json
!appsettings.Development.json

## Databases
*.mdf
*.ldf
*.db
*.db3
*.sqlite

## Logs
logs/
*.log

## .env files
.env
!.env.example